version: "3.8"

services:
  backend:
    build: ./backend
    ports:
      - "8081:8081"
    volumes:
      - ./backend/uploads:/app/uploads

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
